<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gallery.css">
    <title>Gallery</title>
</head>

<body>
    <nav class="nav-bar">
        <li>
            <ul><a href="/about">About</a></ul>
            <ul><a href="/works">Works</a></ul>
            <ul><a href="/">Home</a></ul>
        </li>
    </nav>
    <section class="gallery-photo">
        <h1>Gallery</h1>
        <div class="renan-photos">
            <img src="/img/titobren.webp" alt="">
            <img src="/img/bren2.jpeg" alt="">
            <img src="/img/bren3.jpeg" alt="">
            <img src="/img/bren4.jpeg" alt="">
            <img src="/img/bren5.png" alt="">
        </div>
    </section>
</body>

</html>