<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
</head>

<body>
    <h1>Someone's work</h1>
    <p>Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Hic eius, aliquam
        laborum soluta ducimus numquam eligendi.
        Reprehenderit blanditiis amet accusamus, dolores
        obcaecati hic repellat nisi sint dolore fugit natus
        sunt?</p>
</body>

</html>