<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleAbout.css">
    <title>Works</title>
</head>

<body>
    <nav class="nav-bar">
        <li>
            <ul><a href="/">Home</a></ul>
            <ul><a href="/about">About</a></ul>
            <ul><a href="/gallery">Gallery</a></ul>
        </li>
    </nav>
    <section class="section-about">
        <h1> <span id="diff-color"> His </span> Masterpieces</h1>
        <article class="aricle-layout">
            <img src="/img/jsuno.png" alt="brendan's face">
            <p class="random-lorem">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Dignissimos sint id ea consequatur
                sapiente hic numquam quibusdam. Enim animi earum
                aperiam, libero reprehenderit quasi praesentium n
                ulla non, autem eligendi odit?</p>
        </article>
        <article class="js-lorem">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Tempora, tenetur quibusdam aspernatur dolores earum
                similique. Corporis aspernatur ut enim ipsam nostrum
                harum explicabo reprehenderit et repellat animi, veniam
                tenetur aliquid?</p>
            <img src="/img/jsdos.jpeg" alt="js logo">
        </article>
    </section>
</body>

</html>